In [1]:
#impor packages
import pandas as pd
import numpy as np
import os
import pickle
import json
import re

In [2]:
# location of raw data files
input_path = "../datasets/raw/"

In [3]:
#read LABEVENTS.csv file
df = pd.read_csv(filepath_or_buffer=input_path+'MICROBIOLOGYEVENTS.csv',dtype = {'SUBJECT_ID':"object", 
                                                                                 'HADM_ID':"object", 
                                                                                 'CHARTDATE':"object", 
                                                                                 'CHARTTIME':"object", 
                                                                                 'SPEC_ITEMID':"object",
                                                                                 'SPEC_TYPE_DESC':"object", 
                                                                                 'ORG_ITEMID':"object", 
                                                                                 'ORG_NAME':"object", 
                                                                                 'ISOLATE_NUM':"object", 
                                                                                 'AB_ITEMID':"object",
                                                                                 'AB_NAME':"object", 
                                                                                 'DILUTION_TEXT':"object", 
                                                                                 'DILUTION_COMPARISON':"object", 
                                                                                 'DILUTION_VALUE':"object",
                                                                                 'INTERPRETATION':"object"})

In [4]:
df.head()

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,SPEC_ITEMID,SPEC_TYPE_DESC,ORG_ITEMID,ORG_NAME,ISOLATE_NUM,AB_ITEMID,AB_NAME,DILUTION_TEXT,DILUTION_COMPARISON,DILUTION_VALUE,INTERPRETATION
0,744,96,170324,2156-04-13 00:00:00,2156-04-13 14:18:00,70021,BRONCHOALVEOLAR LAVAGE,80026,PSEUDOMONAS AERUGINOSA,1,NaN,NaN,NaN,NaN,NaN,NaN
1,745,96,170324,2156-04-20 00:00:00,2156-04-20 13:10:00,70062,SPUTUM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,746,96,170324,2156-04-20 00:00:00,2156-04-20 16:00:00,70012,BLOOD CULTURE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,747,96,170324,2156-04-20 00:00:00,NaN,70012,BLOOD CULTURE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,748,96,170324,2156-04-20 00:00:00,NaN,70079,URINE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#Dropping Row_ID 
df = df.drop(labels='ROW_ID',axis = 1)

In [6]:
# Print datatype and non-null data points for each column
df.info(verbose=True,null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 631726 entries, 0 to 631725
Data columns (total 15 columns):
SUBJECT_ID             631726 non-null object
HADM_ID                631726 non-null object
CHARTDATE              631726 non-null object
CHARTTIME              589954 non-null object
SPEC_ITEMID            631647 non-null object
SPEC_TYPE_DESC         631726 non-null object
ORG_ITEMID             326881 non-null object
ORG_NAME               328016 non-null object
ISOLATE_NUM            328016 non-null object
AB_ITEMID              275834 non-null object
AB_NAME                275834 non-null object
DILUTION_TEXT          267350 non-null object
DILUTION_COMPARISON    267178 non-null object
DILUTION_VALUE         267178 non-null object
INTERPRETATION         275834 non-null object
dtypes: object(15)
memory usage: 72.3+ MB

In [7]:
# Replacing missing values in ORG_NAME with "Negative Culture"
df['ORG_NAME'] = df['ORG_NAME'].fillna('Negative Culture')

In [8]:
df.head()

,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,SPEC_ITEMID,SPEC_TYPE_DESC,ORG_ITEMID,ORG_NAME,ISOLATE_NUM,AB_ITEMID,AB_NAME,DILUTION_TEXT,DILUTION_COMPARISON,DILUTION_VALUE,INTERPRETATION
0,96,170324,2156-04-13 00:00:00,2156-04-13 14:18:00,70021,BRONCHOALVEOLAR LAVAGE,80026,PSEUDOMONAS AERUGINOSA,1,NaN,NaN,NaN,NaN,NaN,NaN
1,96,170324,2156-04-20 00:00:00,2156-04-20 13:10:00,70062,SPUTUM,NaN,Negative Culture,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,96,170324,2156-04-20 00:00:00,2156-04-20 16:00:00,70012,BLOOD CULTURE,NaN,Negative Culture,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,96,170324,2156-04-20 00:00:00,NaN,70012,BLOOD CULTURE,NaN,Negative Culture,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,96,170324,2156-04-20 00:00:00,NaN,70079,URINE,NaN,Negative Culture,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Dropping ITEM id columns as the text description of these columns is available
df = df.drop(columns=['CHARTDATE','SPEC_ITEMID','ORG_ITEMID','AB_ITEMID'])

In [10]:
df.head()

,SUBJECT_ID,HADM_ID,CHARTTIME,SPEC_TYPE_DESC,ORG_NAME,ISOLATE_NUM,AB_NAME,DILUTION_TEXT,DILUTION_COMPARISON,DILUTION_VALUE,INTERPRETATION
0,96,170324,2156-04-13 14:18:00,BRONCHOALVEOLAR LAVAGE,PSEUDOMONAS AERUGINOSA,1,NaN,NaN,NaN,NaN,NaN
1,96,170324,2156-04-20 13:10:00,SPUTUM,Negative Culture,NaN,NaN,NaN,NaN,NaN,NaN
2,96,170324,2156-04-20 16:00:00,BLOOD CULTURE,Negative Culture,NaN,NaN,NaN,NaN,NaN,NaN
3,96,170324,NaN,BLOOD CULTURE,Negative Culture,NaN,NaN,NaN,NaN,NaN,NaN
4,96,170324,NaN,URINE,Negative Culture,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Reomving Special Charecters from SPEC_TYPE_DESC and ORG_NAME
df['SPEC_TYPE_DESC'] = df['SPEC_TYPE_DESC'].map(lambda x : re.sub('[!"#$%&()*+,;<=>?@[\]^_`{|}~\n]', '', x)) 
df['ORG_NAME'] = df['ORG_NAME'].map(lambda x : re.sub('[!"#$%&()*+,;<=>?@[\]^_`{|}~\n]', '', x))

In [12]:
# combine Anitbiotic Name and its dilution value
df['AB_NAME_DILUTION'] = df['AB_NAME']+'-'+df['DILUTION_TEXT']

In [13]:
# Droping columns which are not required as their data exists in columns being retained
df = df.drop(labels = ['ISOLATE_NUM','AB_NAME','DILUTION_TEXT','DILUTION_COMPARISON','DILUTION_VALUE'], axis = 'columns')

In [14]:
# Fill missing values with 'NaN'
df = df.fillna('NaN')

In [15]:
df.head(100)

,SUBJECT_ID,HADM_ID,CHARTTIME,SPEC_TYPE_DESC,ORG_NAME,INTERPRETATION,AB_NAME_DILUTION
0,96,170324,2156-04-13 14:18:00,BRONCHOALVEOLAR LAVAGE,PSEUDOMONAS AERUGINOSA,NaN,NaN
1,96,170324,2156-04-20 13:10:00,SPUTUM,Negative Culture,NaN,NaN
2,96,170324,2156-04-20 16:00:00,BLOOD CULTURE,Negative Culture,NaN,NaN
3,96,170324,NaN,BLOOD CULTURE,Negative Culture,NaN,NaN
4,96,170324,NaN,URINE,Negative Culture,NaN,NaN
5,96,170324,2156-04-21 14:00:00,SPUTUM,Negative Culture,NaN,NaN
6,101,175533,NaN,URINE,Negative Culture,NaN,NaN
7,101,175533,2196-09-27 00:00:00,BLOOD CULTURE,Negative Culture,NaN,NaN
8,101,175533,2196-09-27 00:00:00,BLOOD CULTURE,Negative Culture,NaN,NaN
9,101,175533,2196-09-27 00:00:00,SPUTUM,Negative Culture,NaN,NaN
10,101,175533,2196-09-27 00:01:00,URINE,Negative Culture,NaN,NaN
11,101,175533,2196-09-28 20:50:00,SPUTUM,Negative Culture,NaN,NaN
12,101,175533,2196-09-28 20:50:00,BLOOD CULTURE,Negative Culture,NaN,NaN
13,101,175533,2196-09-28 20:50:00,BLOOD CULTURE,Negative Culture,NaN,NaN
14,101,175533,2196-09-28 20:58:00,URINE,STAPHYLOCOCCUS COAGULASE NEGATIVE,NaN,NaN
15,101,175533,2196-10-01 15:30:00,BLOOD CULTURE,Negative Culture,NaN,NaN
16,101,175533,NaN,BLOOD CULTURE,Negative Culture,NaN,NaN
17,101,175533,NaN,URINE,Negative Culture,NaN,NaN
18,101,175533,NaN,SPUTUM,Negative Culture,NaN,NaN
19,102,195700,2196-02-27 12:30:00,BLOOD CULTURE - NEONATE,Negative Culture,NaN,NaN
20,103,133550,2144-08-31 12:01:00,MRSA SCREEN,Negative Culture,NaN,NaN
21,103,133550,NaN,MRSA SCREEN,Negative Culture,NaN,NaN
22,104,164025,2184-10-17 08:15:00,BLOOD CULTURE - NEONATE,Negative Culture,NaN,NaN
23,105,161160,2189-01-28 15:00:00,BLOOD CULTURE,Negative Culture,NaN,NaN
24,105,161160,2189-01-28 15:30:00,BLOOD CULTURE,Negative Culture,NaN,NaN
25,105,161160,2189-01-28 16:00:00,URINE,Negative Culture,NaN,NaN
26,105,128744,2189-02-20 23:30:00,URINE,PROBABLE ENTEROCOCCUS,NaN,NaN
27,106,145167,2192-08-09 21:11:00,SPUTUM,STAPH AUREUS COAG,S,GENTAMICIN-<=0.5
28,106,145167,2192-08-09 21:11:00,SPUTUM,STAPH AUREUS COAG,S,OXACILLIN-0.5
29,106,145167,2192-08-09 21:11:00,SPUTUM,STAPH AUREUS COAG,R,ERYTHROMYCIN-=>8
...,...,...,...,...,...,...,...
70,109,108375,2140-02-02 02:30:00,URINE,GRAM POSITIVE BACTERIA,NaN,NaN
71,109,193281,2140-04-07 15:00:00,URINE,Negative Culture,NaN,NaN
72,109,193281,2140-04-18 20:57:00,EYE,YEAST,NaN,NaN
73,109,193281,2140-04-28 14:45:00,BLOOD CULTURE,STAPHYLOCOCCUS COAGULASE NEGATIVE,S,GENTAMICIN-<=0.5
74,109,193281,2140-04-28 14:45:00,BLOOD CULTURE,STAPHYLOCOCCUS COAGULASE NEGATIVE,S,OXACILLIN-<=0.25
75,109,193281,2140-04-28 14:45:00,BLOOD CULTURE,STAPHYLOCOCCUS COAGULASE NEGATIVE,R,LEVOFLOXACIN-=>8
76,109,193281,2140-04-28 14:45:00,BLOOD CULTURE,STAPHYLOCOCCUS COAGULASE NEGATIVE,R,ERYTHROMYCIN-=>8
77,109,193281,2140-04-28 14:45:00,BLOOD CULTURE MYCO/F LYTIC BOTTLE,STAPHYLOCOCCUS COAGULASE NEGATIVE,R,PENICILLIN-0.25
78,109,193281,2140-04-28 14:45:00,BLOOD CULTURE,STAPHYLOCOCCUS COAGULASE NEGATIVE,R,PENICILLIN-0.25
79,109,193281,2140-04-28 14:45:00,BLOOD CULTURE MYCO/F LYTIC BOTTLE,STAPHYLOCOCCUS COAGULASE NEGATIVE,R,LEVOFLOXACIN-=>8
80,109,193281,2140-04-28 14:45:00,BLOOD CULTURE MYCO/F LYTIC BOTTLE,STAPHYLOCOCCUS COAGULASE NEGATIVE,S,GENTAMICIN-<=0.5
81,109,193281,2140-04-28 14:45:00,BLOOD CULTURE MYCO/F LYTIC BOTTLE,STAPHYLOCOCCUS COAGULASE NEGATIVE,R,ERYTHROMYCIN-=>8
82,109,193281,2140-04-28 14:45:00,BLOOD CULTURE MYCO/F LYTIC BOTTLE,STAPHYLOCOCCUS COAGULASE NEGATIVE,S,OXACILLIN-<=0.25
83,109,193281,2140-04-28 16:00:00,BLOOD CULTURE,Negative Culture,NaN,NaN
84,109,193281,2140-04-28 16:00:00,BLOOD CULTURE MYCO/F LYTIC BOTTLE,Negative Culture,NaN,NaN
85,109,193281,2140-04-29 07:10:00,BLOOD CULTURE,Negative Culture,NaN,NaN
86,109,193281,2140-04-30 10:30:00,BLOOD CULTURE,Negative Culture,NaN,NaN
87,109,193281,2140-04-30 13:00:00,BLOOD CULTURE,Negative Culture,NaN,NaN
88,109,193281,2140-05-01 11:19:00,BLOOD CULTURE MYCO/F LYTIC BOTTLE,Negative Culture,NaN,NaN
89,109,175347,2140-05-17 15:56:00,BLOOD CULTURE,STAPHYLOCOCCUS COAGULASE NEGATIVE,NaN,NaN
90,109,175347,2140-05-17 15:56:00,BLOOD CULTURE,STAPHYLOCOCCUS COAGULASE NEGATIVE,R,PENICILLIN-=>0.5
91,109,175347,2140-05-17 15:56:00,BLOOD CULTURE,STAPHYLOCOCCUS COAGULASE NEGATIVE,R,ERYTHROMYCIN-=>8
92,109,175347,2140-05-17 15:56:00,BLOOD CULTURE,STAPHYLOCOCCUS COAGULASE NEGATIVE,S,GENTAMICIN-<=0.5
93,41,101757,NaN,BRONCHOALVEOLAR LAVAGE,KLEBSIELLA PNEUMONIAE,I,LEVOFLOXACIN-4
94,41,101757,NaN,BRONCHOALVEOLAR LAVAGE,KLEBSIELLA PNEUMONIAE,S,PIPERACILLIN/TAZO-<=4
95,41,101757,NaN,BRONCHOALVEOLAR LAVAGE,KLEBSIELLA PNEUMONIAE,S,MEROPENEM-<=0.25
96,41,101757,NaN,BRONCHOALVEOLAR LAVAGE,KLEBSIELLA PNEUMONIAE,S,CEFTAZIDIME-<=1
97,41,101757,NaN,BRONCHOALVEOLAR LAVAGE,KLEBSIELLA PNEUMONIAE,S,CEFAZOLIN-<=4
98,41,101757,NaN,BRONCHOALVEOLAR LAVAGE,KLEBSIELLA PNEUMONIAE,S,CEFEPIME-<=1
99,41,101757,NaN,BRONCHOALVEOLAR LAVAGE,KLEBSIELLA PNEUMONIAE,S,GENTAMICIN-<=1

In [16]:
# Combine all columns into a single column
df['microbioevents'] = df['SPEC_TYPE_DESC']+' '+df['ORG_NAME']+' '+df['AB_NAME_DILUTION']+' '+df['INTERPRETATION']

In [17]:
# Drop columns with redundant info
df = df.drop(labels=['SPEC_TYPE_DESC','ORG_NAME','AB_NAME_DILUTION','INTERPRETATION'], axis = 'columns')

In [18]:
# Drop rows with missing Charttime 
df = df[df['CHARTTIME']!='NaN'].reset_index(drop = True)

In [19]:
df.head(100)

,SUBJECT_ID,HADM_ID,CHARTTIME,microbioevents
0,96,170324,2156-04-13 14:18:00,BRONCHOALVEOLAR LAVAGE PSEUDOMONAS AERUGINOSA ...
1,96,170324,2156-04-20 13:10:00,SPUTUM Negative Culture NaN NaN
2,96,170324,2156-04-20 16:00:00,BLOOD CULTURE Negative Culture NaN NaN
3,96,170324,2156-04-21 14:00:00,SPUTUM Negative Culture NaN NaN
4,101,175533,2196-09-27 00:00:00,BLOOD CULTURE Negative Culture NaN NaN
5,101,175533,2196-09-27 00:00:00,BLOOD CULTURE Negative Culture NaN NaN
6,101,175533,2196-09-27 00:00:00,SPUTUM Negative Culture NaN NaN
7,101,175533,2196-09-27 00:01:00,URINE Negative Culture NaN NaN
8,101,175533,2196-09-28 20:50:00,SPUTUM Negative Culture NaN NaN
9,101,175533,2196-09-28 20:50:00,BLOOD CULTURE Negative Culture NaN NaN
10,101,175533,2196-09-28 20:50:00,BLOOD CULTURE Negative Culture NaN NaN
11,101,175533,2196-09-28 20:58:00,URINE STAPHYLOCOCCUS COAGULASE NEGATIVE NaN NaN
12,101,175533,2196-10-01 15:30:00,BLOOD CULTURE Negative Culture NaN NaN
13,102,195700,2196-02-27 12:30:00,BLOOD CULTURE - NEONATE Negative Culture NaN NaN
14,103,133550,2144-08-31 12:01:00,MRSA SCREEN Negative Culture NaN NaN
15,104,164025,2184-10-17 08:15:00,BLOOD CULTURE - NEONATE Negative Culture NaN NaN
16,105,161160,2189-01-28 15:00:00,BLOOD CULTURE Negative Culture NaN NaN
17,105,161160,2189-01-28 15:30:00,BLOOD CULTURE Negative Culture NaN NaN
18,105,161160,2189-01-28 16:00:00,URINE Negative Culture NaN NaN
19,105,128744,2189-02-20 23:30:00,URINE PROBABLE ENTEROCOCCUS NaN NaN
20,106,145167,2192-08-09 21:11:00,SPUTUM STAPH AUREUS COAG GENTAMICIN-<=0.5 S
21,106,145167,2192-08-09 21:11:00,SPUTUM STAPH AUREUS COAG OXACILLIN-0.5 S
22,106,145167,2192-08-09 21:11:00,SPUTUM STAPH AUREUS COAG ERYTHROMYCIN-=>8 R
23,106,145167,2192-08-09 21:11:00,SPUTUM STAPH AUREUS COAG PENICILLIN-=>0.5 R
24,106,145167,2192-08-09 21:11:00,SPUTUM STAPH AUREUS COAG LEVOFLOXACIN-0.25 S
25,106,145167,2192-08-10 11:24:00,URINE Negative Culture NaN NaN
26,106,145167,2192-08-11 10:54:00,BLOOD CULTURE Negative Culture NaN NaN
27,106,145167,2192-08-11 11:25:00,BLOOD CULTURE Negative Culture NaN NaN
28,106,145167,2192-08-12 04:14:00,SPUTUM STAPH AUREUS COAG ERYTHROMYCIN-=>8 R
29,106,145167,2192-08-12 04:14:00,SPUTUM STAPH AUREUS COAG ERYTHROMYCIN-=>8 R
...,...,...,...,...
70,109,193281,2140-04-28 14:45:00,BLOOD CULTURE MYCO/F LYTIC BOTTLE STAPHYLOCOC...
71,109,193281,2140-04-28 14:45:00,BLOOD CULTURE STAPHYLOCOCCUS COAGULASE NEGATIV...
72,109,193281,2140-04-28 14:45:00,BLOOD CULTURE MYCO/F LYTIC BOTTLE STAPHYLOCOC...
73,109,193281,2140-04-28 14:45:00,BLOOD CULTURE MYCO/F LYTIC BOTTLE STAPHYLOCOC...
74,109,193281,2140-04-28 14:45:00,BLOOD CULTURE MYCO/F LYTIC BOTTLE STAPHYLOCOC...
75,109,193281,2140-04-28 14:45:00,BLOOD CULTURE MYCO/F LYTIC BOTTLE STAPHYLOCOC...
76,109,193281,2140-04-28 16:00:00,BLOOD CULTURE Negative Culture NaN NaN
77,109,193281,2140-04-28 16:00:00,BLOOD CULTURE MYCO/F LYTIC BOTTLE Negative Cu...
78,109,193281,2140-04-29 07:10:00,BLOOD CULTURE Negative Culture NaN NaN
79,109,193281,2140-04-30 10:30:00,BLOOD CULTURE Negative Culture NaN NaN
80,109,193281,2140-04-30 13:00:00,BLOOD CULTURE Negative Culture NaN NaN
81,109,193281,2140-05-01 11:19:00,BLOOD CULTURE MYCO/F LYTIC BOTTLE Negative Cu...
82,109,175347,2140-05-17 15:56:00,BLOOD CULTURE STAPHYLOCOCCUS COAGULASE NEGATIV...
83,109,175347,2140-05-17 15:56:00,BLOOD CULTURE STAPHYLOCOCCUS COAGULASE NEGATIV...
84,109,175347,2140-05-17 15:56:00,BLOOD CULTURE STAPHYLOCOCCUS COAGULASE NEGATIV...
85,109,175347,2140-05-17 15:56:00,BLOOD CULTURE STAPHYLOCOCCUS COAGULASE NEGATIV...
86,41,101757,2133-01-16 08:49:00,SPUTUM Negative Culture NaN NaN
87,41,101757,2133-01-16 10:00:00,PLEURAL FLUID STAPHYLOCOCCUS COAGULASE NEGATIV...
88,41,101757,2133-01-16 10:00:00,PLEURAL FLUID STAPHYLOCOCCUS COAGULASE NEGATIV...
89,41,101757,2133-01-16 10:00:00,PLEURAL FLUID STAPHYLOCOCCUS COAGULASE NEGATIV...
90,41,101757,2133-01-16 10:00:00,PLEURAL FLUID STAPHYLOCOCCUS COAGULASE NEGATIV...
91,41,101757,2133-01-16 10:00:00,PLEURAL FLUID STAPHYLOCOCCUS COAGULASE NEGATIV...
92,41,101757,2133-01-16 10:00:00,PLEURAL FLUID STAPHYLOCOCCUS COAGULASE NEGATIV...
93,41,101757,2133-01-16 10:00:00,PLEURAL FLUID STAPHYLOCOCCUS COAGULASE NEGATIV...
94,41,101757,2133-01-16 10:00:00,PLEURAL FLUID STAPHYLOCOCCUS COAGULASE NEGATIV...
95,41,101757,2133-01-16 10:00:00,PLEURAL FLUID STENOTROPHOMONAS XANTHOMONAS MAL...
96,41,101757,2133-01-16 10:00:00,PLEURAL FLUID CANDIDA ALBICANS NaN NaN
97,41,101757,2133-01-16 10:00:00,PLEURAL FLUID CANDIDA ALBICANS PRESUMPTIVE IDE...
98,41,101757,2133-01-16 10:00:00,PLEURAL FLUID STAPHYLOCOCCUS COAGULASE NEGATIV...
99,41,101757,2133-01-17 11:57:00,BLOOD CULTURE Negative Culture NaN NaN

In [20]:
# Split the each event by whitespace
df['microbioevents'] = df['microbioevents'].map(lambda x: x.split())

In [21]:
# remove 'NaN' from all events
df['microbioevents'] = df['microbioevents'].map(lambda x: list(filter(lambda a: a!='NaN',x)))

In [22]:
df.head(100)

,SUBJECT_ID,HADM_ID,CHARTTIME,microbioevents
0,96,170324,2156-04-13 14:18:00,"[BRONCHOALVEOLAR, LAVAGE, PSEUDOMONAS, AERUGIN..."
1,96,170324,2156-04-20 13:10:00,"[SPUTUM, Negative, Culture]"
2,96,170324,2156-04-20 16:00:00,"[BLOOD, CULTURE, Negative, Culture]"
3,96,170324,2156-04-21 14:00:00,"[SPUTUM, Negative, Culture]"
4,101,175533,2196-09-27 00:00:00,"[BLOOD, CULTURE, Negative, Culture]"
5,101,175533,2196-09-27 00:00:00,"[BLOOD, CULTURE, Negative, Culture]"
6,101,175533,2196-09-27 00:00:00,"[SPUTUM, Negative, Culture]"
7,101,175533,2196-09-27 00:01:00,"[URINE, Negative, Culture]"
8,101,175533,2196-09-28 20:50:00,"[SPUTUM, Negative, Culture]"
9,101,175533,2196-09-28 20:50:00,"[BLOOD, CULTURE, Negative, Culture]"
10,101,175533,2196-09-28 20:50:00,"[BLOOD, CULTURE, Negative, Culture]"
11,101,175533,2196-09-28 20:58:00,"[URINE, STAPHYLOCOCCUS, COAGULASE, NEGATIVE]"
12,101,175533,2196-10-01 15:30:00,"[BLOOD, CULTURE, Negative, Culture]"
13,102,195700,2196-02-27 12:30:00,"[BLOOD, CULTURE, -, NEONATE, Negative, Culture]"
14,103,133550,2144-08-31 12:01:00,"[MRSA, SCREEN, Negative, Culture]"
15,104,164025,2184-10-17 08:15:00,"[BLOOD, CULTURE, -, NEONATE, Negative, Culture]"
16,105,161160,2189-01-28 15:00:00,"[BLOOD, CULTURE, Negative, Culture]"
17,105,161160,2189-01-28 15:30:00,"[BLOOD, CULTURE, Negative, Culture]"
18,105,161160,2189-01-28 16:00:00,"[URINE, Negative, Culture]"
19,105,128744,2189-02-20 23:30:00,"[URINE, PROBABLE, ENTEROCOCCUS]"
20,106,145167,2192-08-09 21:11:00,"[SPUTUM, STAPH, AUREUS, COAG, GENTAMICIN-<=0.5..."
21,106,145167,2192-08-09 21:11:00,"[SPUTUM, STAPH, AUREUS, COAG, OXACILLIN-0.5, S]"
22,106,145167,2192-08-09 21:11:00,"[SPUTUM, STAPH, AUREUS, COAG, ERYTHROMYCIN-=>8..."
23,106,145167,2192-08-09 21:11:00,"[SPUTUM, STAPH, AUREUS, COAG, PENICILLIN-=>0.5..."
24,106,145167,2192-08-09 21:11:00,"[SPUTUM, STAPH, AUREUS, COAG, LEVOFLOXACIN-0.2..."
25,106,145167,2192-08-10 11:24:00,"[URINE, Negative, Culture]"
26,106,145167,2192-08-11 10:54:00,"[BLOOD, CULTURE, Negative, Culture]"
27,106,145167,2192-08-11 11:25:00,"[BLOOD, CULTURE, Negative, Culture]"
28,106,145167,2192-08-12 04:14:00,"[SPUTUM, STAPH, AUREUS, COAG, ERYTHROMYCIN-=>8..."
29,106,145167,2192-08-12 04:14:00,"[SPUTUM, STAPH, AUREUS, COAG, ERYTHROMYCIN-=>8..."
...,...,...,...,...
70,109,193281,2140-04-28 14:45:00,"[BLOOD, CULTURE, MYCO/F, LYTIC, BOTTLE, STAPHY..."
71,109,193281,2140-04-28 14:45:00,"[BLOOD, CULTURE, STAPHYLOCOCCUS, COAGULASE, NE..."
72,109,193281,2140-04-28 14:45:00,"[BLOOD, CULTURE, MYCO/F, LYTIC, BOTTLE, STAPHY..."
73,109,193281,2140-04-28 14:45:00,"[BLOOD, CULTURE, MYCO/F, LYTIC, BOTTLE, STAPHY..."
74,109,193281,2140-04-28 14:45:00,"[BLOOD, CULTURE, MYCO/F, LYTIC, BOTTLE, STAPHY..."
75,109,193281,2140-04-28 14:45:00,"[BLOOD, CULTURE, MYCO/F, LYTIC, BOTTLE, STAPHY..."
76,109,193281,2140-04-28 16:00:00,"[BLOOD, CULTURE, Negative, Culture]"
77,109,193281,2140-04-28 16:00:00,"[BLOOD, CULTURE, MYCO/F, LYTIC, BOTTLE, Negati..."
78,109,193281,2140-04-29 07:10:00,"[BLOOD, CULTURE, Negative, Culture]"
79,109,193281,2140-04-30 10:30:00,"[BLOOD, CULTURE, Negative, Culture]"
80,109,193281,2140-04-30 13:00:00,"[BLOOD, CULTURE, Negative, Culture]"
81,109,193281,2140-05-01 11:19:00,"[BLOOD, CULTURE, MYCO/F, LYTIC, BOTTLE, Negati..."
82,109,175347,2140-05-17 15:56:00,"[BLOOD, CULTURE, STAPHYLOCOCCUS, COAGULASE, NE..."
83,109,175347,2140-05-17 15:56:00,"[BLOOD, CULTURE, STAPHYLOCOCCUS, COAGULASE, NE..."
84,109,175347,2140-05-17 15:56:00,"[BLOOD, CULTURE, STAPHYLOCOCCUS, COAGULASE, NE..."
85,109,175347,2140-05-17 15:56:00,"[BLOOD, CULTURE, STAPHYLOCOCCUS, COAGULASE, NE..."
86,41,101757,2133-01-16 08:49:00,"[SPUTUM, Negative, Culture]"
87,41,101757,2133-01-16 10:00:00,"[PLEURAL, FLUID, STAPHYLOCOCCUS, COAGULASE, NE..."
88,41,101757,2133-01-16 10:00:00,"[PLEURAL, FLUID, STAPHYLOCOCCUS, COAGULASE, NE..."
89,41,101757,2133-01-16 10:00:00,"[PLEURAL, FLUID, STAPHYLOCOCCUS, COAGULASE, NE..."
90,41,101757,2133-01-16 10:00:00,"[PLEURAL, FLUID, STAPHYLOCOCCUS, COAGULASE, NE..."
91,41,101757,2133-01-16 10:00:00,"[PLEURAL, FLUID, STAPHYLOCOCCUS, COAGULASE, NE..."
92,41,101757,2133-01-16 10:00:00,"[PLEURAL, FLUID, STAPHYLOCOCCUS, COAGULASE, NE..."
93,41,101757,2133-01-16 10:00:00,"[PLEURAL, FLUID, STAPHYLOCOCCUS, COAGULASE, NE..."
94,41,101757,2133-01-16 10:00:00,"[PLEURAL, FLUID, STAPHYLOCOCCUS, COAGULASE, NE..."
95,41,101757,2133-01-16 10:00:00,"[PLEURAL, FLUID, STENOTROPHOMONAS, XANTHOMONAS..."
96,41,101757,2133-01-16 10:00:00,"[PLEURAL, FLUID, CANDIDA, ALBICANS]"
97,41,101757,2133-01-16 10:00:00,"[PLEURAL, FLUID, CANDIDA, ALBICANS, PRESUMPTIV..."
98,41,101757,2133-01-16 10:00:00,"[PLEURAL, FLUID, STAPHYLOCOCCUS, COAGULASE, NE..."
99,41,101757,2133-01-17 11:57:00,"[BLOOD, CULTURE, Negative, Culture]"

In [23]:
# create output path
mypath_output = "../datasets/microbioevents/tokenized/"
import os
os.makedirs(mypath_output, exist_ok=True)

In [24]:
# export the dataframe to JSON format
df.to_json(mypath_output+"microbioevents.json",orient = 'records')