In [4]:
#impor packages
import pandas as pd
import numpy as np
import os
import pickle
import json
import re

In [5]:
# location of raw data files
input_path = "~/datasets/raw/"

In [6]:
#read LABEVENTS.csv file
df = pd.read_csv(filepath_or_buffer=input_path+'INPUTEVENTS_MV.csv',dtype = "object")

In [7]:
#read D_ITEMS.csv file
df1 = pd.read_csv(filepath_or_buffer=input_path+'D_ITEMS.csv',dtype = "object")

In [8]:
# map the labels for ITEMD 
df=df.merge(df1[['ITEMID','LABEL']], how='left', left_on='ITEMID', right_on='ITEMID')

In [9]:
# Print datatype and non-null data points for each column
df.info(verbose=True,null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3618991 entries, 0 to 3618990
Data columns (total 32 columns):
ROW_ID                           3618991 non-null object
SUBJECT_ID                       3618991 non-null object
HADM_ID                          3618991 non-null object
ICUSTAY_ID                       3617827 non-null object
STARTTIME                        3618991 non-null object
ENDTIME                          3618991 non-null object
ITEMID                           3618991 non-null object
AMOUNT                           3618991 non-null object
AMOUNTUOM                        3618991 non-null object
RATE                             2042852 non-null object
RATEUOM                          2042852 non-null object
STORETIME                        3618991 non-null object
CGID                             3618991 non-null object
ORDERID                          3618991 non-null object
LINKORDERID                      3618991 non-null object
ORDERCATEGORYNAME                3618991 non-null object
SECONDARYORDERCATEGORYNAME       2635563 non-null object
ORDERCOMPONENTTYPEDESCRIPTION    3618991 non-null object
ORDERCATEGORYDESCRIPTION         3618991 non-null object
PATIENTWEIGHT                    3618991 non-null object
TOTALAMOUNT                      3084964 non-null object
TOTALAMOUNTUOM                   3088637 non-null object
ISOPENBAG                        3618991 non-null object
CONTINUEINNEXTDEPT               3618991 non-null object
CANCELREASON                     3618991 non-null object
STATUSDESCRIPTION                3618991 non-null object
COMMENTS_EDITEDBY                249261 non-null object
COMMENTS_CANCELEDBY              119362 non-null object
COMMENTS_DATE                    368625 non-null object
ORIGINALAMOUNT                   3618991 non-null object
ORIGINALRATE                     3618991 non-null object
LABEL                            3618991 non-null object
dtypes: object(32)
memory usage: 911.2+ MB

In [10]:
df.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,AMOUNT,AMOUNTUOM,RATE,...,ISOPENBAG,CONTINUEINNEXTDEPT,CANCELREASON,STATUSDESCRIPTION,COMMENTS_EDITEDBY,COMMENTS_CANCELEDBY,COMMENTS_DATE,ORIGINALAMOUNT,ORIGINALRATE,LABEL
0,241,27063,139787,223259,2133-02-05 06:29:00,2133-02-05 08:45:00,225166,6.774531824,mEq,NaN,...,0,0,1,Rewritten,NaN,RN,2133-02-05 12:52:00,10,.050000001,Potassium Chloride
1,242,27063,139787,223259,2133-02-05 05:34:00,2133-02-05 06:30:00,225944,28.1329972,ml,30.142497,...,0,0,0,FinishedRunning,NaN,NaN,NaN,28.132998,30.255817,Sterile Water
2,243,27063,139787,223259,2133-02-05 05:34:00,2133-02-05 06:30:00,225166,2.813299944,mEq,NaN,...,0,0,0,FinishedRunning,NaN,NaN,NaN,2.8132997,.050426364,Potassium Chloride
3,244,27063,139787,223259,2133-02-03 12:00:00,2133-02-03 12:01:00,225893,1,dose,NaN,...,0,0,2,Rewritten,RN,NaN,2133-02-03 17:06:00,1,1,Piperacillin/Tazobactam (Zosyn)
4,245,27063,139787,223259,2133-02-03 12:00:00,2133-02-03 12:01:00,220949,100,ml,NaN,...,0,0,2,Rewritten,RN,NaN,2133-02-03 17:06:00,100,0,Dextrose 5%

In [11]:
#Dropping Row_ID 
df = df.drop(labels='ROW_ID',axis = 'columns')

In [12]:
#Dropping redundant columns
df = df.drop(labels=['STARTTIME','ENDTIME','COMMENTS_EDITEDBY','COMMENTS_CANCELEDBY','COMMENTS_DATE','CGID','ORDERID','LINKORDERID','ISOPENBAG','CONTINUEINNEXTDEPT','CANCELREASON','ORIGINALAMOUNT','ORIGINALRATE'],axis = 'columns')

In [13]:
# Print datatype and non-null data points for each column
df.info(verbose=True,null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3618991 entries, 0 to 3618990
Data columns (total 18 columns):
SUBJECT_ID                       3618991 non-null object
HADM_ID                          3618991 non-null object
ICUSTAY_ID                       3617827 non-null object
ITEMID                           3618991 non-null object
AMOUNT                           3618991 non-null object
AMOUNTUOM                        3618991 non-null object
RATE                             2042852 non-null object
RATEUOM                          2042852 non-null object
STORETIME                        3618991 non-null object
ORDERCATEGORYNAME                3618991 non-null object
SECONDARYORDERCATEGORYNAME       2635563 non-null object
ORDERCOMPONENTTYPEDESCRIPTION    3618991 non-null object
ORDERCATEGORYDESCRIPTION         3618991 non-null object
PATIENTWEIGHT                    3618991 non-null object
TOTALAMOUNT                      3084964 non-null object
TOTALAMOUNTUOM                   3088637 non-null object
STATUSDESCRIPTION                3618991 non-null object
LABEL                            3618991 non-null object
dtypes: object(18)
memory usage: 524.6+ MB

In [14]:
df = df.fillna('NaN')

In [15]:
# merge ITEMID, VALUE, UOM into single token
df['AMOUNT_VALUE_UOM'] = df['ITEMID']+'-'+df['AMOUNT']+'-'+df['AMOUNTUOM']
df['RATE_VALUE_UOM'] = df['ITEMID']+'-'+df['RATE']+'-'+df['RATEUOM']
df['FLUID_VALUE_UOM'] = 'FLUID'+'-'+df['TOTALAMOUNT']+'-'+df['TOTALAMOUNTUOM']
df['PATIENTWEIGHT'] = 'WEIGHT'+'-'+df['PATIENTWEIGHT']

In [16]:
df.head()

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,AMOUNT,AMOUNTUOM,RATE,RATEUOM,STORETIME,ORDERCATEGORYNAME,...,ORDERCOMPONENTTYPEDESCRIPTION,ORDERCATEGORYDESCRIPTION,PATIENTWEIGHT,TOTALAMOUNT,TOTALAMOUNTUOM,STATUSDESCRIPTION,LABEL,AMOUNT_VALUE_UOM,RATE_VALUE_UOM,FLUID_VALUE_UOM
0,27063,139787,223259,225166,6.774531824,mEq,NaN,NaN,2133-02-05 06:27:00,02-Fluids (Crystalloids),...,Additives ...,Continuous IV,WEIGHT-83.2,100,ml,Rewritten,Potassium Chloride,225166-6.774531824-mEq,225166-NaN-NaN,FLUID-100-ml
1,27063,139787,223259,225944,28.1329972,ml,30.142497,mL/hour,2133-02-05 12:57:00,02-Fluids (Crystalloids),...,Main order parameter,Continuous IV,WEIGHT-83.2,100,ml,FinishedRunning,Sterile Water,225944-28.1329972-ml,225944-30.142497-mL/hour,FLUID-100-ml
2,27063,139787,223259,225166,2.813299944,mEq,NaN,NaN,2133-02-05 12:57:00,02-Fluids (Crystalloids),...,Additives ...,Continuous IV,WEIGHT-83.2,100,ml,FinishedRunning,Potassium Chloride,225166-2.813299944-mEq,225166-NaN-NaN,FLUID-100-ml
3,27063,139787,223259,225893,1,dose,NaN,NaN,2133-02-03 13:21:00,08-Antibiotics (IV),...,Main order parameter,Drug Push,WEIGHT-83.2,100,ml,Rewritten,Piperacillin/Tazobactam (Zosyn),225893-1-dose,225893-NaN-NaN,FLUID-100-ml
4,27063,139787,223259,220949,100,ml,NaN,NaN,2133-02-03 13:21:00,08-Antibiotics (IV),...,Mixed solution,Drug Push,WEIGHT-83.2,100,ml,Rewritten,Dextrose 5%,220949-100-ml,220949-NaN-NaN,FLUID-100-ml

In [17]:
# if value if missing then replace merge tokens with 'NaN'
df.loc[df['AMOUNT']=='NaN','AMOUNT_VALUE_UOM'] = 'NaN'
df.loc[df['RATE']=='NaN','RATE_VALUE_UOM'] = 'NaN'
df.loc[df['TOTALAMOUNT']=='NaN','FLUID_VALUE_UOM'] = 'NaN'

In [18]:
# Drop redundant columns
df = df.drop(labels=['ITEMID','AMOUNT','AMOUNTUOM','RATE','RATEUOM','TOTALAMOUNT','TOTALAMOUNTUOM','PATIENTWEIGHT'],axis = 'columns')

In [19]:
df.head()

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STORETIME,ORDERCATEGORYNAME,SECONDARYORDERCATEGORYNAME,ORDERCOMPONENTTYPEDESCRIPTION,ORDERCATEGORYDESCRIPTION,STATUSDESCRIPTION,LABEL,AMOUNT_VALUE_UOM,RATE_VALUE_UOM,FLUID_VALUE_UOM
0,27063,139787,223259,2133-02-05 06:27:00,02-Fluids (Crystalloids),Additive (Crystalloid),Additives ...,Continuous IV,Rewritten,Potassium Chloride,225166-6.774531824-mEq,NaN,FLUID-100-ml
1,27063,139787,223259,2133-02-05 12:57:00,02-Fluids (Crystalloids),Additive (Crystalloid),Main order parameter,Continuous IV,FinishedRunning,Sterile Water,225944-28.1329972-ml,225944-30.142497-mL/hour,FLUID-100-ml
2,27063,139787,223259,2133-02-05 12:57:00,02-Fluids (Crystalloids),Additive (Crystalloid),Additives ...,Continuous IV,FinishedRunning,Potassium Chloride,225166-2.813299944-mEq,NaN,FLUID-100-ml
3,27063,139787,223259,2133-02-03 13:21:00,08-Antibiotics (IV),02-Fluids (Crystalloids),Main order parameter,Drug Push,Rewritten,Piperacillin/Tazobactam (Zosyn),225893-1-dose,NaN,FLUID-100-ml
4,27063,139787,223259,2133-02-03 13:21:00,08-Antibiotics (IV),02-Fluids (Crystalloids),Mixed solution,Drug Push,Rewritten,Dextrose 5%,220949-100-ml,NaN,FLUID-100-ml

In [20]:
# Removce any speacial charecters from the free text columns
df['ORDERCATEGORYNAME'] = df['ORDERCATEGORYNAME'].map(lambda x : re.sub('[!"#$%&()*+,;<=>?@[\]^_`{|}~\n]', '', x)) 

df['SECONDARYORDERCATEGORYNAME'] = df['SECONDARYORDERCATEGORYNAME'].map(lambda x : re.sub('[!"#$%&()*+,;<=>?@[\]^_`{|}~\n]', '', x)) 

df['ORDERCOMPONENTTYPEDESCRIPTION'] = df['ORDERCOMPONENTTYPEDESCRIPTION'].map(lambda x : re.sub('[!"#$%&()*+,;<=>?@[\]^_`{|}~\n]', '', x))

df['ORDERCATEGORYDESCRIPTION'] = df['ORDERCATEGORYDESCRIPTION'].map(lambda x : re.sub('[!"#$%&()*+,;<=>?@[\]^_`{|}~\n]', '', x))

df['STATUSDESCRIPTION'] = df['STATUSDESCRIPTION'].map(lambda x : re.sub('[!"#$%&()*+,;<=>?@[\]^_`{|}~\n]', '', x))

In [21]:
# create inputevents_mv by mergeing all the columns on whitespace
df['inputevents_mv'] = df['LABEL']+' '+df['ORDERCATEGORYNAME']+' '+df['SECONDARYORDERCATEGORYNAME']+' '+df['ORDERCOMPONENTTYPEDESCRIPTION']+' '+df['ORDERCATEGORYDESCRIPTION']+' '+df['STATUSDESCRIPTION']+' '+df['AMOUNT_VALUE_UOM']+' '+df['RATE_VALUE_UOM']+' '+df['FLUID_VALUE_UOM']

In [22]:
# drop redundant columns
df = df.drop(labels=['LABEL','ORDERCATEGORYNAME','SECONDARYORDERCATEGORYNAME','ORDERCOMPONENTTYPEDESCRIPTION','ORDERCATEGORYDESCRIPTION','STATUSDESCRIPTION','AMOUNT_VALUE_UOM','RATE_VALUE_UOM','FLUID_VALUE_UOM'], axis = 'columns')

In [23]:
df.head()

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STORETIME,inputevents_mv
0,27063,139787,223259,2133-02-05 06:27:00,Potassium Chloride 02-Fluids Crystalloids Addi...
1,27063,139787,223259,2133-02-05 12:57:00,Sterile Water 02-Fluids Crystalloids Additive ...
2,27063,139787,223259,2133-02-05 12:57:00,Potassium Chloride 02-Fluids Crystalloids Addi...
3,27063,139787,223259,2133-02-03 13:21:00,Piperacillin/Tazobactam (Zosyn) 08-Antibiotics...
4,27063,139787,223259,2133-02-03 13:21:00,Dextrose 5% 08-Antibiotics IV 02-Fluids Crysta...

In [24]:
# split on white spaceand convert tp list
df['inputevents_mv'] = df['inputevents_mv'].map(lambda x: x.split())

In [25]:
#Remove 'NaN' from the inputevents_mv
df['inputevents_mv'] = df['inputevents_mv'].map(lambda x: list(filter(lambda a: a!='NaN',x)))

In [26]:
df.head(100)

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STORETIME,inputevents_mv
0,27063,139787,223259,2133-02-05 06:27:00,"[Potassium, Chloride, 02-Fluids, Crystalloids,..."
1,27063,139787,223259,2133-02-05 12:57:00,"[Sterile, Water, 02-Fluids, Crystalloids, Addi..."
2,27063,139787,223259,2133-02-05 12:57:00,"[Potassium, Chloride, 02-Fluids, Crystalloids,..."
3,27063,139787,223259,2133-02-03 13:21:00,"[Piperacillin/Tazobactam, (Zosyn), 08-Antibiot..."
4,27063,139787,223259,2133-02-03 13:21:00,"[Dextrose, 5%, 08-Antibiotics, IV, 02-Fluids, ..."
5,27063,139787,223259,2133-02-05 06:27:00,"[Sterile, Water, 02-Fluids, Crystalloids, Addi..."
6,27063,139787,223259,2133-02-05 06:27:00,"[Potassium, Chloride, 02-Fluids, Crystalloids,..."
7,27063,139787,223259,2133-02-05 12:58:00,"[Sterile, Water, 02-Fluids, Crystalloids, Addi..."
8,27063,139787,223259,2133-02-05 12:58:00,"[Potassium, Chloride, 02-Fluids, Crystalloids,..."
9,27063,139787,223259,2133-02-05 06:27:00,"[Sterile, Water, 02-Fluids, Crystalloids, Addi..."
10,27063,139787,223259,2133-02-05 06:27:00,"[Potassium, Chloride, 02-Fluids, Crystalloids,..."
11,27063,139787,223259,2133-02-04 08:45:00,"[Gastric, Meds, 14-Oral/Gastric, Intake, Main,..."
12,27063,139787,223259,2133-02-04 03:39:00,"[NaCl, 0.9%, 03-IV, Fluid, Bolus, Main, order,..."
13,27063,139787,223259,2133-02-05 17:52:00,"[NaCl, 0.9%, 02-Fluids, Crystalloids, Additive..."
14,27063,139787,223259,2133-02-05 12:57:00,"[Sterile, Water, 02-Fluids, Crystalloids, Addi..."
15,27063,139787,223259,2133-02-05 12:57:00,"[Potassium, Chloride, 02-Fluids, Crystalloids,..."
16,27063,139787,223259,2133-02-04 18:09:00,"[GT, Flush, 14-Oral/Gastric, Intake, Main, ord..."
17,29969,129547,248410,2181-02-20 16:16:00,"[Beneprotein, 13-Enteral, Nutrition, Additives..."
18,29969,129547,248410,2181-02-22 15:12:00,"[Free, Water, 14-Oral/Gastric, Intake, Main, o..."
19,29969,129547,248410,2181-02-21 12:30:00,"[GT, Flush, 14-Oral/Gastric, Intake, Main, ord..."
20,29969,129547,248410,2181-02-22 15:59:00,"[NaCl, 0.9%, 02-Fluids, Crystalloids, Additive..."
21,29969,129547,248410,2181-02-20 21:00:00,"[Insulin, -, Regular, 01-Drips, 02-Fluids, Cry..."
22,29969,129547,248410,2181-02-20 21:00:00,"[NaCl, 0.9%, 01-Drips, 02-Fluids, Crystalloids..."
23,29969,129547,248410,2181-02-21 12:22:00,"[Nutren, 2.0, (Full), 13-Enteral, Nutrition, A..."
24,29969,129547,248410,2181-02-21 12:22:00,"[Beneprotein, 13-Enteral, Nutrition, Additives..."
25,29969,129547,248410,2181-02-21 08:02:00,"[Insulin, -, Regular, 01-Drips, 02-Fluids, Cry..."
26,29969,129547,248410,2181-02-21 08:02:00,"[NaCl, 0.9%, 01-Drips, 02-Fluids, Crystalloids..."
27,29969,129547,248410,2181-02-22 01:45:00,"[NaCl, 0.9%, 03-IV, Fluid, Bolus, Main, order,..."
28,29969,129547,248410,2181-02-21 12:30:00,"[Gastric, Meds, 14-Oral/Gastric, Intake, Main,..."
29,29969,129547,248410,2181-02-21 04:05:00,"[Insulin, -, Regular, 01-Drips, 02-Fluids, Cry..."
...,...,...,...,...,...
70,30354,120396,243526,2154-12-26 15:24:00,"[NaCl, 0.9%, 02-Fluids, Crystalloids, Additive..."
71,30354,120396,243526,2154-12-26 04:20:00,"[Replete, with, Fiber, (Full), 13-Enteral, Nut..."
72,30354,120396,243526,2154-12-24 14:09:00,"[Midazolam, (Versed), 01-Drips, 02-Fluids, Cry..."
73,30354,120396,243526,2154-12-24 14:09:00,"[NaCl, 0.9%, 01-Drips, 02-Fluids, Crystalloids..."
74,30354,120396,243526,2154-12-24 23:34:00,"[LR, 02-Fluids, Crystalloids, Additive, Crysta..."
75,30354,120396,243526,2154-12-24 12:42:00,"[Midazolam, (Versed), 01-Drips, 02-Fluids, Cry..."
76,30354,120396,243526,2154-12-24 12:42:00,"[NaCl, 0.9%, 01-Drips, 02-Fluids, Crystalloids..."
77,30354,120396,243526,2154-12-26 10:40:00,"[Replete, with, Fiber, (Full), 13-Enteral, Nut..."
78,30354,120396,243526,2154-12-25 20:27:00,"[Replete, with, Fiber, (Full), 13-Enteral, Nut..."
79,30354,120396,243526,2154-12-24 23:49:00,"[LR, 02-Fluids, Crystalloids, Additive, Crysta..."
80,30354,120396,243526,2154-12-25 12:19:00,"[Gastric, Meds, 14-Oral/Gastric, Intake, Main,..."
81,30354,120396,243526,2154-12-25 02:15:00,"[Free, Water, 14-Oral/Gastric, Intake, Main, o..."
82,30354,120396,243526,2154-12-24 12:44:00,"[LR, 02-Fluids, Crystalloids, Additive, Crysta..."
83,30354,120396,243526,2154-12-24 20:43:00,"[Nutren, 2.0, (Full), 13-Enteral, Nutrition, A..."
84,30354,120396,243526,2154-12-24 15:47:00,"[Fentanyl, 05-Med, Bolus, Main, order, paramet..."
85,30354,120396,243526,2154-12-26 12:24:00,"[Gastric, Meds, 14-Oral/Gastric, Intake, Main,..."
86,30354,120396,243526,2154-12-24 23:49:00,"[LR, 02-Fluids, Crystalloids, Additive, Crysta..."
87,30354,120396,243526,2154-12-25 20:52:00,"[Gastric, Meds, 14-Oral/Gastric, Intake, Main,..."
88,30354,120396,243526,2154-12-26 04:20:00,"[Replete, with, Fiber, (Full), 13-Enteral, Nut..."
89,30354,120396,243526,2154-12-24 14:10:00,"[Midazolam, (Versed), 01-Drips, 02-Fluids, Cry..."
90,30354,120396,243526,2154-12-24 14:10:00,"[NaCl, 0.9%, 01-Drips, 02-Fluids, Crystalloids..."
91,30354,120396,243526,2154-12-24 16:33:00,"[Fentanyl, 01-Drips, 02-Fluids, Crystalloids, ..."
92,30354,120396,243526,2154-12-24 16:33:00,"[Dextrose, 5%, 01-Drips, 02-Fluids, Crystalloi..."
93,30354,120396,243526,2154-12-25 09:04:00,"[GT, Flush, 14-Oral/Gastric, Intake, Main, ord..."
94,30354,120396,243526,2154-12-26 13:35:00,"[Gastric, Meds, 14-Oral/Gastric, Intake, Main,..."
95,30354,120396,243526,2154-12-25 20:50:00,"[NaCl, 0.9%, 02-Fluids, Crystalloids, Additive..."
96,30354,120396,243526,2154-12-25 20:52:00,"[GT, Flush, 14-Oral/Gastric, Intake, Main, ord..."
97,30354,120396,243526,2154-12-24 14:04:00,"[Fentanyl, 01-Drips, 02-Fluids, Crystalloids, ..."
98,30354,120396,243526,2154-12-24 14:04:00,"[Dextrose, 5%, 01-Drips, 02-Fluids, Crystalloi..."
99,30354,120396,243526,2154-12-24 15:47:00,"[Midazolam, (Versed), 05-Med, Bolus, Main, ord..."

In [27]:
# create output path
mypath_output = "../../datasets/inputevents_mv/tokenized/"
import os
os.makedirs(mypath_output, exist_ok=True)

In [28]:
# export the dataframe to JSON format
df.to_json(mypath_output+"inputevents_mv.json",orient = 'records')