In [1]:
#impor packages
import pandas as pd
import numpy as np
import itertools
import os
import pickle
import json

In [2]:
input_path = "../datasets/raw/"

In [3]:
#read LABEVENTS.csv file
df = pd.read_csv(filepath_or_buffer=input_path+'LABEVENTS.csv', dtype = {"SUBJECT_ID":"object",
                                                                        "HADM_ID":"object",
                                                                        "ITEMID":"object",
                                                                        "VALUE":"object",
                                                                        "VALUENUM":"object",
                                                                        "VALUEUOM":"object",
                                                                        "FLAG":"object",
                                                                        "CHARTTIME":"object"})

In [4]:
# read D_LABITEMS.csv file
df_D_ITEMS = pd.read_csv(filepath_or_buffer=input_path+'D_LABITEMS.csv', dtype = {"ITEMID":"object"})

In [5]:
#Dropping Row_ID 
df = df.drop(labels='ROW_ID',axis = 1)

In [6]:
# Print datatype and non-null data points for each column
df.info(verbose=True,null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27854055 entries, 0 to 27854054
Data columns (total 8 columns):
SUBJECT_ID    27854055 non-null object
HADM_ID       22245034 non-null object
ITEMID        27854055 non-null object
CHARTTIME     27854055 non-null object
VALUE         27852810 non-null object
VALUENUM      24932835 non-null object
VALUEUOM      24753806 non-null object
FLAG          9844166 non-null object
dtypes: object(8)
memory usage: 1.7+ GB

In [7]:
df_D_ITEMS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 753 entries, 0 to 752
Data columns (total 6 columns):
ROW_ID        753 non-null int64
ITEMID        753 non-null object
LABEL         753 non-null object
FLUID         753 non-null object
CATEGORY      753 non-null object
LOINC_CODE    585 non-null object
dtypes: int64(1), object(5)
memory usage: 35.4+ KB

In [8]:
#check contents of D_ITEMS
df_D_ITEMS

,ROW_ID,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE
0,546,51346,Blasts,Cerebrospinal Fluid (CSF),Hematology,26447-3
1,547,51347,Eosinophils,Cerebrospinal Fluid (CSF),Hematology,26451-5
2,548,51348,"Hematocrit, CSF",Cerebrospinal Fluid (CSF),Hematology,30398-2
3,549,51349,Hypersegmented Neutrophils,Cerebrospinal Fluid (CSF),Hematology,26506-6
4,550,51350,Immunophenotyping,Cerebrospinal Fluid (CSF),Hematology,NaN
5,551,51351,Lymphs,Cerebrospinal Fluid (CSF),Hematology,26479-6
6,552,51352,Macrophage,Cerebrospinal Fluid (CSF),Hematology,30426-1
7,553,51353,Mesothelial cells,Cerebrospinal Fluid (CSF),Hematology,30429-5
8,554,51354,Metamyelocytes,Cerebrospinal Fluid (CSF),Hematology,30366-9
9,555,51355,Monocytes,Cerebrospinal Fluid (CSF),Hematology,26486-1
10,556,51356,Myelocytes,Cerebrospinal Fluid (CSF),Hematology,30447-7
11,557,51357,NRBC,Cerebrospinal Fluid (CSF),Hematology,48778-5
12,558,51358,Other,Cerebrospinal Fluid (CSF),Hematology,NaN
13,559,51359,Plasma,Cerebrospinal Fluid (CSF),Hematology,47413-0
14,560,51360,Polys,Cerebrospinal Fluid (CSF),Hematology,26517-3
15,561,51361,Promyelocytes,Cerebrospinal Fluid (CSF),Hematology,NaN
16,562,51362,"RBC, CSF",Cerebrospinal Fluid (CSF),Hematology,26454-9
17,563,51363,"WBC, CSF",Cerebrospinal Fluid (CSF),Hematology,26465-5
18,564,51364,Young,Cerebrospinal Fluid (CSF),Hematology,NaN
19,565,51365,Atypical Lymphocytes,Joint Fluid,Hematology,33371-6
20,566,51366,Bands,Joint Fluid,Hematology,33361-7
21,567,51367,Basophils,Joint Fluid,Hematology,17833-5
22,568,51368,Eosinophils,Joint Fluid,Hematology,17834-3
23,569,51369,"Hematocrit, Joint Fluid",Joint Fluid,Hematology,NaN
24,570,51370,"Joint Crystals, Birefringence",Joint Fluid,Hematology,NaN
25,571,51371,"Joint Crystals, Comment",Joint Fluid,Hematology,NaN
26,572,51372,"Joint Crystals, Location",Joint Fluid,Hematology,NaN
27,573,51373,"Joint Crystals, Number",Joint Fluid,Hematology,NaN
28,574,51374,"Joint Crystals, Shape",Joint Fluid,Hematology,NaN
29,575,51375,Lymphocytes,Joint Fluid,Hematology,26483-8
...,...,...,...,...,...,...
723,724,51524,FATTY,URINE,HEMATOLOGY,5789-3
724,725,51525,Billed,BLOOD,CHEMISTRY,NaN
725,726,51526,FRUCAMN+,BLOOD,CHEMISTRY,NaN
726,727,51527,MS-DIA,BLOOD,CHEMISTRY,NaN
727,728,51528,STDY HOLD,BLOOD,CHEMISTRY,NaN
728,729,51529,Estimated Actual Glucose,BLOOD,CHEMISTRY,NaN
729,730,51530,AF-AFP,OTHER BODY FLUID,CHEMISTRY,NaN
730,731,51531,STDYURINE,URINE,CHEMISTRY,NaN
731,732,51532,PLASMGN,BLOOD,HEMATOLOGY,NaN
732,733,51533,WBCP,BLOOD,HEMATOLOGY,NaN
733,734,51534,MYELOS,JOINT FLUID,HEMATOLOGY,NaN
734,735,51535,CD55,OTHER BODY FLUID,HEMATOLOGY,NaN
735,736,51536,CD59,OTHER BODY FLUID,HEMATOLOGY,NaN
736,737,51537,TDT,OTHER BODY FLUID,HEMATOLOGY,NaN
737,738,51540,PROBLEM SPECIMEN,BLOOD,CHEMISTRY,NaN
738,739,51541,PROBLEM SPECIMEN,BLOOD,HEMATOLOGY,NaN
739,740,51542,PROBLEM SPECIMEN,URINE,HEMATOLOGY,NaN
740,741,51543,VOIDED SPECIMEN,BLOOD,CHEMISTRY,NaN
741,742,51544,VOIDED SPECIMEN,OTHER BODY FLUID,BLOOD GAS,NaN
742,743,51545,VOIDED SPECIMEN,BLOOD,BLOOD GAS,NaN
743,744,51546,VOIDED SPECIMEN,CSF,CHEMISTRY,NaN
744,745,51547,VOIDED SPECIMEN,OTHER BODY FLUID,CHEMISTRY,NaN
745,746,51548,VOIDED SPECIMEN,URINE,HEMATOLOGY,NaN
746,747,51549,VOIDED SPECIMEN,ASCITES,CHEMISTRY,NaN
747,748,51550,VOIDED SPECIMEN,BLOOD,HEMATOLOGY,NaN
748,749,51551,VOIDED SPECIMEN,OTHER BODY FLUID,HEMATOLOGY,NaN
749,750,51552,VOIDED SPECIMEN,STOOL,CHEMISTRY,NaN
750,751,51553,VOIDED SPECIMEN,URINE,CHEMISTRY,NaN
751,752,51554,VOIDED SPECIMEN,JOINT FLUID,HEMATOLOGY,NaN
752,753,51555,SURFACTANT ALBUMIN RATIO,OTHER BODY FLUID,CHEMISTRY,NaN

In [9]:
#keep columns ITEMID and LABEL
df_D_ITEMS = df_D_ITEMS[['ITEMID','LABEL','FLUID','CATEGORY']]

In [10]:
df_D_ITEMS.head()

  ITEMID                       LABEL                      FLUID    CATEGORY
0  51346                      Blasts  Cerebrospinal Fluid (CSF)  Hematology
1  51347                 Eosinophils  Cerebrospinal Fluid (CSF)  Hematology
2  51348             Hematocrit, CSF  Cerebrospinal Fluid (CSF)  Hematology
3  51349  Hypersegmented Neutrophils  Cerebrospinal Fluid (CSF)  Hematology
4  51350           Immunophenotyping  Cerebrospinal Fluid (CSF)  Hematology

In [11]:
df = pd.merge(left=df,right=df_D_ITEMS,how = 'left',on = 'ITEMID')

In [12]:
# check the merged dataframe
df.head(50)

,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG,LABEL,FLUID,CATEGORY
0,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN,pH,Blood,Blood Gas
1,3,NaN,50800,2101-10-12 18:17:00,ART,NaN,NaN,NaN,SPECIMEN TYPE,BLOOD,BLOOD GAS
2,3,NaN,50802,2101-10-12 18:17:00,-1,-1,mEq/L,NaN,Base Excess,Blood,Blood Gas
3,3,NaN,50804,2101-10-12 18:17:00,22,22,mEq/L,NaN,Calculated Total CO2,Blood,Blood Gas
4,3,NaN,50808,2101-10-12 18:17:00,0.93,.93,mmol/L,abnormal,Free Calcium,Blood,Blood Gas
5,3,NaN,50812,2101-10-12 18:17:00,NOT INTUBATED,NaN,NaN,NaN,Intubated,Blood,Blood Gas
6,3,NaN,50813,2101-10-12 18:17:00,1.8,1.8,mmol/L,NaN,Lactate,Blood,Blood Gas
7,3,NaN,50818,2101-10-12 18:17:00,33,33,mm Hg,NaN,pCO2,Blood,Blood Gas
8,3,NaN,50820,2101-10-12 18:17:00,7.42,7.42,units,NaN,pH,Blood,Blood Gas
9,3,NaN,50821,2101-10-12 18:17:00,80,80,mm Hg,NaN,pO2,Blood,Blood Gas
10,3,NaN,50825,2101-10-12 18:17:00,35.8,35.8,NaN,NaN,Temperature,Blood,Blood Gas
11,3,NaN,50868,2101-10-13 03:00:00,13,13,mEq/L,NaN,Anion Gap,Blood,Chemistry
12,3,NaN,50882,2101-10-13 03:00:00,23,23,mEq/L,NaN,Bicarbonate,Blood,Chemistry
13,3,NaN,50893,2101-10-13 03:00:00,8.4,8.4,mg/dL,NaN,"Calcium, Total",Blood,Chemistry
14,3,NaN,50902,2101-10-13 03:00:00,109,109,mEq/L,NaN,Chloride,Blood,Chemistry
15,3,NaN,50912,2101-10-13 03:00:00,1.7,1.7,mg/dL,abnormal,Creatinine,Blood,Chemistry
16,3,NaN,50931,2101-10-13 03:00:00,137,137,mg/dL,abnormal,Glucose,Blood,Chemistry
17,3,NaN,50960,2101-10-13 03:00:00,1.8,1.8,mg/dL,NaN,Magnesium,Blood,Chemistry
18,3,NaN,50970,2101-10-13 03:00:00,3.7,3.7,mg/dL,NaN,Phosphate,Blood,Chemistry
19,3,NaN,50971,2101-10-13 03:00:00,4.3,4.3,mEq/L,NaN,Potassium,Blood,Chemistry
20,3,NaN,50983,2101-10-13 03:00:00,141,141,mEq/L,NaN,Sodium,Blood,Chemistry
21,3,NaN,51006,2101-10-13 03:00:00,33,33,mg/dL,abnormal,Urea Nitrogen,Blood,Chemistry
22,3,NaN,51009,2101-10-13 03:00:00,16.8,16.8,ug/mL,abnormal,Vancomycin,Blood,Chemistry
23,3,NaN,51221,2101-10-13 03:00:00,30.3,30.3,%,abnormal,Hematocrit,Blood,Hematology
24,3,NaN,50868,2101-10-13 15:47:00,14,14,mEq/L,NaN,Anion Gap,Blood,Chemistry
25,3,NaN,50882,2101-10-13 15:47:00,25,25,mEq/L,NaN,Bicarbonate,Blood,Chemistry
26,3,NaN,50893,2101-10-13 15:47:00,8.2,8.2,mg/dL,abnormal,"Calcium, Total",Blood,Chemistry
27,3,NaN,50902,2101-10-13 15:47:00,107,107,mEq/L,NaN,Chloride,Blood,Chemistry
28,3,NaN,50912,2101-10-13 15:47:00,1.5,1.5,mg/dL,abnormal,Creatinine,Blood,Chemistry
29,3,NaN,50931,2101-10-13 15:47:00,152,152,mg/dL,abnormal,Glucose,Blood,Chemistry
30,3,NaN,50960,2101-10-13 15:47:00,2.3,2.3,mg/dL,NaN,Magnesium,Blood,Chemistry
31,3,NaN,50970,2101-10-13 15:47:00,3.3,3.3,mg/dL,NaN,Phosphate,Blood,Chemistry
32,3,NaN,50971,2101-10-13 15:47:00,4.0,4,mEq/L,NaN,Potassium,Blood,Chemistry
33,3,NaN,50983,2101-10-13 15:47:00,142,142,mEq/L,NaN,Sodium,Blood,Chemistry
34,3,NaN,51006,2101-10-13 15:47:00,32,32,mg/dL,abnormal,Urea Nitrogen,Blood,Chemistry
35,3,NaN,50861,2101-10-14 03:00:00,9,9,IU/L,NaN,Alanine Aminotransferase (ALT),Blood,Chemistry
36,3,NaN,50868,2101-10-14 03:00:00,12,12,mEq/L,NaN,Anion Gap,Blood,Chemistry
37,3,NaN,50878,2101-10-14 03:00:00,32,32,IU/L,NaN,Asparate Aminotransferase (AST),Blood,Chemistry
38,3,NaN,50882,2101-10-14 03:00:00,25,25,mEq/L,NaN,Bicarbonate,Blood,Chemistry
39,3,NaN,50893,2101-10-14 03:00:00,8.2,8.2,mg/dL,abnormal,"Calcium, Total",Blood,Chemistry
40,3,NaN,50902,2101-10-14 03:00:00,107,107,mEq/L,NaN,Chloride,Blood,Chemistry
41,3,NaN,50910,2101-10-14 03:00:00,375,375,IU/L,abnormal,Creatine Kinase (CK),Blood,Chemistry
42,3,NaN,50912,2101-10-14 03:00:00,1.4,1.4,mg/dL,abnormal,Creatinine,Blood,Chemistry
43,3,NaN,50931,2101-10-14 03:00:00,118,118,mg/dL,abnormal,Glucose,Blood,Chemistry
44,3,NaN,50960,2101-10-14 03:00:00,2.2,2.2,mg/dL,NaN,Magnesium,Blood,Chemistry
45,3,NaN,50970,2101-10-14 03:00:00,3.1,3.1,mg/dL,NaN,Phosphate,Blood,Chemistry
46,3,NaN,50971,2101-10-14 03:00:00,3.7,3.7,mEq/L,NaN,Potassium,Blood,Chemistry
47,3,NaN,50983,2101-10-14 03:00:00,140,140,mEq/L,NaN,Sodium,Blood,Chemistry
48,3,NaN,51006,2101-10-14 03:00:00,30,30,mg/dL,abnormal,Urea Nitrogen,Blood,Chemistry
49,3,NaN,51009,2101-10-14 03:00:00,17.2,17.2,ug/mL,abnormal,Vancomycin,Blood,Chemistry

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27854055 entries, 0 to 27854054
Data columns (total 11 columns):
SUBJECT_ID    object
HADM_ID       object
ITEMID        object
CHARTTIME     object
VALUE         object
VALUENUM      object
VALUEUOM      object
FLAG          object
LABEL         object
FLUID         object
CATEGORY      object
dtypes: object(11)
memory usage: 2.5+ GB

In [15]:
df['VALUE_NUM_UOM'] = df['ITEMID']+'-'+df['VALUENUM']+'-'+df['VALUEUOM']

In [16]:
df.head()

,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG,LABEL,FLUID,CATEGORY,VALUE_NUM_UOM
0,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN,pH,Blood,Blood Gas,50820-7.39-units
1,3,NaN,50800,2101-10-12 18:17:00,ART,NaN,NaN,NaN,SPECIMEN TYPE,BLOOD,BLOOD GAS,NaN
2,3,NaN,50802,2101-10-12 18:17:00,-1,-1,mEq/L,NaN,Base Excess,Blood,Blood Gas,50802--1-mEq/L
3,3,NaN,50804,2101-10-12 18:17:00,22,22,mEq/L,NaN,Calculated Total CO2,Blood,Blood Gas,50804-22-mEq/L
4,3,NaN,50808,2101-10-12 18:17:00,0.93,.93,mmol/L,abnormal,Free Calcium,Blood,Blood Gas,50808-.93-mmol/L

In [17]:
df = df.drop(columns=['VALUE','VALUENUM','VALUEUOM','ITEMID'])

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27854055 entries, 0 to 27854054
Data columns (total 8 columns):
SUBJECT_ID       object
HADM_ID          object
CHARTTIME        object
FLAG             object
LABEL            object
FLUID            object
CATEGORY         object
VALUE_NUM_UOM    object
dtypes: object(8)
memory usage: 1.9+ GB

In [19]:
df = df.fillna('NaN')

In [20]:
df.head()

,SUBJECT_ID,HADM_ID,CHARTTIME,FLAG,LABEL,FLUID,CATEGORY,VALUE_NUM_UOM
0,3,NaN,2101-10-12 16:07:00,NaN,pH,Blood,Blood Gas,50820-7.39-units
1,3,NaN,2101-10-12 18:17:00,NaN,SPECIMEN TYPE,BLOOD,BLOOD GAS,NaN
2,3,NaN,2101-10-12 18:17:00,NaN,Base Excess,Blood,Blood Gas,50802--1-mEq/L
3,3,NaN,2101-10-12 18:17:00,NaN,Calculated Total CO2,Blood,Blood Gas,50804-22-mEq/L
4,3,NaN,2101-10-12 18:17:00,abnormal,Free Calcium,Blood,Blood Gas,50808-.93-mmol/L

In [22]:
df['labevents'] = df['LABEL']+' '+df['FLUID']+' '+df['CATEGORY']+' '+df['VALUE_NUM_UOM']+' '+df['FLAG']

In [23]:
df.head(10)

,SUBJECT_ID,HADM_ID,CHARTTIME,FLAG,LABEL,FLUID,CATEGORY,VALUE_NUM_UOM,labevents
0,3,NaN,2101-10-12 16:07:00,NaN,pH,Blood,Blood Gas,50820-7.39-units,pH Blood Blood Gas 50820-7.39-units NaN
1,3,NaN,2101-10-12 18:17:00,NaN,SPECIMEN TYPE,BLOOD,BLOOD GAS,NaN,SPECIMEN TYPE BLOOD BLOOD GAS NaN NaN
2,3,NaN,2101-10-12 18:17:00,NaN,Base Excess,Blood,Blood Gas,50802--1-mEq/L,Base Excess Blood Blood Gas 50802--1-mEq/L NaN
3,3,NaN,2101-10-12 18:17:00,NaN,Calculated Total CO2,Blood,Blood Gas,50804-22-mEq/L,Calculated Total CO2 Blood Blood Gas 50804-22-...
4,3,NaN,2101-10-12 18:17:00,abnormal,Free Calcium,Blood,Blood Gas,50808-.93-mmol/L,Free Calcium Blood Blood Gas 50808-.93-mmol/L ...
5,3,NaN,2101-10-12 18:17:00,NaN,Intubated,Blood,Blood Gas,NaN,Intubated Blood Blood Gas NaN NaN
6,3,NaN,2101-10-12 18:17:00,NaN,Lactate,Blood,Blood Gas,50813-1.8-mmol/L,Lactate Blood Blood Gas 50813-1.8-mmol/L NaN
7,3,NaN,2101-10-12 18:17:00,NaN,pCO2,Blood,Blood Gas,50818-33-mm Hg,pCO2 Blood Blood Gas 50818-33-mm Hg NaN
8,3,NaN,2101-10-12 18:17:00,NaN,pH,Blood,Blood Gas,50820-7.42-units,pH Blood Blood Gas 50820-7.42-units NaN
9,3,NaN,2101-10-12 18:17:00,NaN,pO2,Blood,Blood Gas,50821-80-mm Hg,pO2 Blood Blood Gas 50821-80-mm Hg NaN

In [24]:
df['labevents'] = df['labevents'].map(lambda x: x.split())

In [25]:
df = df.drop(labels=['FLAG','LABEL','FLUID','CATEGORY','VALUE_NUM_UOM'], axis = "columns")

In [26]:
# remove 'NaN' form all events
df['labevents'] = df['labevents'].map(lambda x: list(filter(lambda a: a!='NaN',x)))

In [27]:
df.head(10)

,SUBJECT_ID,HADM_ID,CHARTTIME,labevents
0,3,NaN,2101-10-12 16:07:00,"[pH, Blood, Blood, Gas, 50820-7.39-units]"
1,3,NaN,2101-10-12 18:17:00,"[SPECIMEN, TYPE, BLOOD, BLOOD, GAS]"
2,3,NaN,2101-10-12 18:17:00,"[Base, Excess, Blood, Blood, Gas, 50802--1-mEq/L]"
3,3,NaN,2101-10-12 18:17:00,"[Calculated, Total, CO2, Blood, Blood, Gas, 50..."
4,3,NaN,2101-10-12 18:17:00,"[Free, Calcium, Blood, Blood, Gas, 50808-.93-m..."
5,3,NaN,2101-10-12 18:17:00,"[Intubated, Blood, Blood, Gas]"
6,3,NaN,2101-10-12 18:17:00,"[Lactate, Blood, Blood, Gas, 50813-1.8-mmol/L]"
7,3,NaN,2101-10-12 18:17:00,"[pCO2, Blood, Blood, Gas, 50818-33-mm, Hg]"
8,3,NaN,2101-10-12 18:17:00,"[pH, Blood, Blood, Gas, 50820-7.42-units]"
9,3,NaN,2101-10-12 18:17:00,"[pO2, Blood, Blood, Gas, 50821-80-mm, Hg]"

In [28]:
# create output path
mypath_output = "../datasets/labevents/tokenized/"
import os
os.makedirs(mypath_output, exist_ok=True)

In [29]:
# export the dataframe to JSON format
df.to_json(mypath_output+"labevents.json",orient = 'records')